@model SignalRPollsterSiteMVC.DataAccessLayer.Model.Poll
@{
    ViewData["Title"] = "Pollster site";
}

<div class="container-fluid p-5 bg-primary text-white text-center" style="padding:20px !important;">
    <h1 id="title">No Poll id found!</h1>
    <div id="description"></div>
</div>
@if (Model != null)
{
    <p></p>
    <div class="table-responsive">
        <table id="pollTable" class="table table-hover table-sm align-middle text-center">
            <thead>
                <tr>
                    <th scope="col">Votes</th>
                    <th scope="col">Option</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="results"></tbody>
        </table>
    </div>
    <template>
        <tr class="result">
            <td class="choiceVoteCount" style="font-weight:bold;">0</td>
            <td class="choiceText"></td>
            <td><button class="voteButton btn btn-lg btn-primary">vote</button></td>
        </tr>
    </template>
}

                    <button onclick="sendToPoll('1','2');">Send next</button>